/web/bundles/
/web/assets/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/

/vendor/*
!/vendor/javiereguiluz/

/vendor/javiereguiluz/*
!/vendor/javiereguiluz/easyadmin-bundle/

/vendor/javiereguiluz/easyadmin-bundle/*
!/vendor/javiereguiluz/easyadmin-bundle/Search/

/bin/
/composer.phar
.c9/*
.buildpath
.project
.settings
nbproject
.idea
.tm_properties



