<section class="sidebar">
    {% block main_menu_wrapper %}
        <ul class="sidebar-menu">
            <li class="submenu-active">
                <a href="{{ path('index') }}" >
                    <i class="fa fa-home"></i><span>{{ 'menu.index'|trans() }}</span>
                </a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include([
            _entity_config is defined ? _entity_config.templates.menu,
            easyadmin_config('design.templates.menu'),
            '@EasyAdmin/default/menu.html.twig'
            ]) }}
        {% endif %}
    {% endblock main_menu_wrapper %}
</section>