{% extends 'layout.html.twig' %}

{#{% form_theme form 'form/fields.html.twig' %}#}



{% block page_title %}Gráfico de Prueba{% endblock %}
{% block content_title %}Gráfico de Prueba{% endblock %}

{% block main %}
    <div id="container"></div>
{% endblock %}

{% block body_javascript %}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}

