<!-- Modal -->
<div class="modal fade" id="login" role="dialog" aria-labelledby="loginLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginLabel">Iniciar sesión</h4>
            </div>
            <div class="modal-body">
                {% if error %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error.message }}</strong>
                    </div>
                {% endif %}
                <form class="form-signin" action="{{ path('usuario_login_check') }}" method="post">
                    <label for="id" class="sr-only">Identificación</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Identificación" required autofocus>
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required>
                    <div class="checkbox">
                        <label><input type="checkbox" id="no_cerrar" name="_remember_me" checked>No cerrar sesión</label>
                    </div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar sesión">
                </form>
            </div>
        </div>
    </div>
</div>