{% extends 'layout.html.twig' %}

{% block page_title %}Iniciar sesión{% endblock %}

{% block main %}
    {% if error %}
        <script>
            notificacion({{ error.message | trans | json_encode() | raw }}, 'error');
        </script>
    {% endif %}
    <form class="form-signin" action="{{ path('usuario_login_check') }}" method="post">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <input type="text" class="form-control" id="username" placeholder="Identificación" name="_username" value="{{ last_username }}" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input type="password" class="form-control" id="password" placeholder="Contraseña" name="_password" required>
            </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="no_cerrar" name="_remember_me" checked>No cerrar sesión</label>
        </div>
        <div class="form-group">
            <input class="btn btn-lg btn-primary btn-block" type="submit" name="login" value="Iniciar sesión">
        </div>
    </form>
{% endblock %}
