table{
    border:1px solid #000;
    border-collapse:collapse;
    width: 100%;
    /*width:1500px;*/
}
table td{
    border:1px solid #000;  
}
table th{
    border:1px solid #000; 
}
body{
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
 /* color: #001028;
  background: #FFFFFF; */
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial; 
}
.encabezado{ 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial; 
  font-weight:bold;
}
.encabezado2{
  position: relative;
  width: 29.7cm;  
  height: 21cm; 
  margin: 0 auto; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial; 
}
table .observaciones{
  height:80px;
  vertical-align:top;
}
table .logoUD, table .logoSigud{
  width:140px; 
  height:80px;
  text-align: center;
}
table .logoUD2, table .logoSigud2{
  width:100px; 
  height:70px;
  text-align: center;
}
table td.solicitud{
  width:400px; 
  height:30px;
  text-align: center;
}
table .solicitud2{
  width:450px; 
  height:40px;
  text-align: center;
}
table td.dependencia, table td.sede, table td.fecha {
  width:800px;
}
table td.codigo{
 width:80px;   
}
table th.codigo2{
 width:40px;   
}
table th.bien{
 width:500px;   
}
table tr.motivos{
  text-align: center;  
}
.registros{
  width: 100%; 
}
table td.codigo{
    height:50px;
}
table td.macro{
    text-align: center;
}
table td.macro2{
    text-align: center;
    height:30px;
}
table td.macro3{
    text-align: center;
    height:30px;
    width:1500px;
}
table td.macro4{
    text-align: center;
    height:30px;
    width:1800px;
}
table td.macro5{
    text-align: center;
    height:30px;
    width:3000px;
}
.divCenter{
    text-align: center;
}
.divAlign{
    vertical-align: top;
}
table td.codBarras{
    text-align: center;
    width:140px;
    font-weight:bold;
}
table td.cantidad{
    text-align: center;
    width:120px;
    font-weight:bold;
}
table td.descripcion{
    text-align: center;
    width:240px;
    font-weight:bold;
}
table td.observaciones2{
    text-align: center;
    font-weight:bold;
}
.divAlign2{
    vertical-align: top;
    text-align: center;
}
table td.prestamo{
    text-align: center;
    height:30px;
}
table tr.cab{
   font-weight:bold; 
}
table td.FH{
    text-align: center;
    width:100px;
}
table td.MEI{
    text-align: center;
    width:180px;
}
table td.VyF{
   height:30px; 
}
table td.NE{
    text-align: center;
    width:150px;
}
table td.HO{
    text-align: center;
    width:120px;
}
table td.CB{
    text-align: center;
    width:140px;
}
table td.DES{
    text-align: center;
    width:240px;
}
table td.DPO{
    text-align: center;
    width:200px;
}
table td.ESySI{
    text-align: center;
    width:100px;
    height:80px;
}
table td.soliBaja{
    text-align: center;
    width:500px;
    height:20px;
}
table td.Cod{
    width:150px;
    height:20px;
}
table td.MP{
    text-align: center;
    width:150px;
    height:20px;
}
table td.PG{
    text-align: center;
    width:150px;
    height:30px;
}