.bootstrap-datetimepicker-widget .btn,
.bootstrap-datetimepicker-widget .btn:hover,
.bootstrap-datetimepicker-widget .btn:active,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:active:hover {
    background: none;
    padding: 0;
    color: #205081;
}

.encabezado {
    margin: 0;
}

.required:after {
    content: " *";
    color: red;
}

